<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 配置log4j-->
	<context-param> 
		<param-name>log4jConfigLocation</param-name> 
		<param-value>/WEB-INF/classes/log4j.properties</param-value> 
	</context-param> 
	<listener> 
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> 
	</listener>
 
	<!-- Spring容器的配置 -->	
	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/Spring.xml,/WEB-INF/Spring-Hibernate.xml</param-value>
	</context-param>
	
	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 下面是启动SpringMVC的配置 -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/SpringMVC.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!--
		  将form表单提交的POST请求转换为PUT或DELETE请求
		 注意：只能转换POST,不能转换GET!
	-->	
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<!-- 过滤指定的servlet -->
		<servlet-name>springDispatcherServlet</servlet-name>  
	</filter-mapping>
</web-app>